#card {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 40px;
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 300ms ease-in-out;
}

.casilla {

    position: fixed;
    bottom: 30px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


#card .header-card {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #C999DA;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#card .header-card .header-card-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card .header-card .btns-close {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

#card .header-card .btns-close button:nth-of-type(1) {
    margin-right: 5px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#card .header-card .btns-close button:nth-of-type(1):hover {
    background: lightblue;
    color: white;
    transition: all 300ms ease-in-out;
}

#card .header-card .btns-close button:nth-of-type(2) {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#card .header-card .btns-close button:nth-of-type(2):hover {
    background: lightcoral;
    color: white;
    transition: all 300ms ease-in-out;
}

#card .list-messages {
    width: 100%;
    background: url(./../img/fondoWhatsapp.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 9px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    transition: all 300ms ease-in-out;
}

#card .list-messages .item-message {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    margin-top: '10px';
    border-radius: 10px;
}

#card .list-messages .item-message .message {
    max-width: 70%;
    min-width: 30%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    word-break: break-word;
    position: relative;
    z-index: 2;
    font-family: inherit;
    font-weight: 500;
}

#card .list-messages .item-message .message .pico1 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: none;
    left: 0px;
    bottom: 0px;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 3px solid #63A2EE;
    border-bottom: 3px solid #63A2EE;
    z-index: 1;
    transform: rotateZ(88deg);
}

#card .list-messages .item-message .message .pico2 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: none;
    right: 0px;
    bottom: 0px;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 3px solid #F13535;
    border-bottom: 3px solid #F13535;
}